    body {
        margin: 0px auto;
        padding: 0px;
        background-color: rgb(36, 36, 36);
        max-width: 1440px;
        max-height: 6343px;
    }
    
    #page {
        background-color: rgb(36, 36, 36), url(../images/page1.jpg);
        margin: 0px auto;
        padding: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 1440px;
        height: 6343px;
    }
    
    .img1 {
        width: 1440px;
        height: 963px;
    }
    
    .page1>div {
        position: static;
        top: 8px;
        right: 230px;
        padding: 40px;
        margin-right: 30px;
    }
    
    .text>a {
        font-family: 'Lato', sans-serif;
        margin: 20px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 25pt;
        font-weight: 200;
        position: relative;
        left: 550px;
        top: -950px;
    }
    
    #title1 {
        background-color: rgb(255, 186, 0);
        border: 3rem soild rgb(255, 186, 0);
        font-family: 'Montserrat', sans-serif;
        font-size: 15pt;
        color: rgb(255, 255, 255);
        width: 352px;
        height: 80px;
        left: -40px;
        top: -1000px;
        position: relative;
        text-align: center;
    }
    
    #pizza {
        position: absolute;
        top: -30px;
        left: 110px;
        font-size: 40px;
    }
    
    .box-1 {
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(255, 186, 0);
        border: 3rem solid rgb(255, 186, 0);
        width: 1345px;
        height: 200px;
        position: relative;
        right: 40px;
        bottom: 620px;
        font-size: 100px;
        color: rgb(255, 255, 255);
    }
    
    #newbody {
        border: 8px solid rgb(255, 255, 255);
        background-color: rgb(255, 186, 0);
        width: 350px;
        height: 80px;
        margin-top: 40px;
        padding-top: 20px;
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        top: 140px;
        right: 220px;
    }
    
    #readmore {
        position: absolute;
        top: -10px;
        right: 25px;
    }
    
    .Grand {
        font-size: 120px;
        font-weight: bold;
        margin: -5px;
    }
    
    #textBody {
        font-size: 100px;
        position: absolute;
        top: -60px;
        right: 650px;
    }
    
    #page2 {
        position: static;
        width: 1440px;
        height: 160px;
    }
    
    #img1 {
        position: relative;
        left: 57%;
        bottom: 400px;
    }
    
    #boder-page2 {
        border: 1px solid rgb(255, 186, 0);
        background-color: rgb(255, 186, 0);
        width: 840px;
        height: 188px;
        top: -717px;
        right: -100px;
        z-index: 1;
        position: relative;
    }
    
    .whatnew {
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: 80px;
        top: -190px;
        left: 170px;
    }
    
    .body-text2 {
        position: absolute;
        font-family: 'Lato', sans-serif;
        color: rgb(255, 255, 255);
        font-weight: 200;
        top: -30px;
        font-size: 35px;
        left: 170px;
    }
    
    .newformat {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 80px;
        font-weight: lighter;
        transform: rotate(270deg);
        left: -180px;
        top: -20px;
    }
    
    #page3 {
        position: static;
        width: 1440px;
        height: 380px;
    }
    
    #boder-page3 {
        border: 1px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        width: 1440px;
        height: 375px;
    }
    
    #boder-page3 ul li {
        list-style: none;
        display: inline-block;
        padding: 70px;
        margin: 5px auto;
    }
    
    #format-1 {
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 186, 0);
    }
    
    #format-2 {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    
    #page4 {
        position: static;
        width: 1440px;
        height: 1200px;
    }
    
    #boder-page4 {
        width: 1440px;
        height: 1200px;
        background-image: url(../images/page4.jpg);
        opacity: 0.4;
    }
    
    .title-p4 {
        position: relative;
        right: -620px;
        top: -1190px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 186, 0);
        font-size: 45px;
    }
    
    #boder-title {
        border: 2px solid rgb(255, 255, 255);
        width: 1180px;
        height: 130px;
        position: relative;
        bottom: 1200px;
        left: 260px;
    }
    
    #title-boder-p4 {
        font-size: 50px;
        font-family: f5;
        color: rgb(255, 186, 0);
        position: relative;
        top: -25px;
        right: -260px;
        font-weight: lighter;
    }
    
    #menu-page4 {
        position: relative;
        border: 1px solid rgb(255, 186, 0);
        background-color: rgb(255, 186, 0);
        width: 1035px;
        height: 415px;
        left: 110px;
        top: 75px;
        font-family: f2;
        color: rgb(255, 255, 255);
        font-size: 30px;
        line-height: 10px;
        padding-left: 40px;
        padding-top: 40px;
    }
    
    @font-face {
        font-family: f1;
        src: url(../font/Lato-Medium.ttf);
    }
    
    @font-face {
        font-family: f2;
        src: url(../font/Lato-Light.ttf);
    }
    
    @font-face {
        font-family: f3;
        src: url(../font/Lato-Black.ttf);
        font-weight: bold;
    }
    
    @font-face {
        font-family: f4;
        src: url(../font/Lato-Bold.ttf);
    }
    
    @font-face {
        font-family: f5;
        src: url(../font/montserrat-medium.ttf);
    }
    
    @font-face {
        font-family: f6;
        src: url(../font/Lato-Regular.ttf);
    }
    
    @font-face {
        font-family: f7;
        src: url(../font/Raleway-Bold.ttf);
    }
    
    @font-face {
        font-family: f8;
        src: url(../font/Raleway-Regular.ttf);
    }
    
    @font-face {
        font-family: f9;
        src: url(../font/Raleway-Light.ttf);
    }
    
    @font-face {
        font-family: f10;
        src: url(../font/Montserrat-Black.ttf);
    }
    
    @font-face {
        font-family: f11;
        src: url(../font/Montserrat-Bold.ttf);
    }
    
    #in-menu-p4 {
        width: 70px;
        height: 395px;
        border: 1px solid #ffda00;
        background-color: #ffda00;
        position: relative;
        left: 640px;
        top: -550px;
        font-family: f3;
        line-height: 140px;
    }
    
    #out-menu-p4 {
        width: 70px;
        height: 120px;
        border: 1px solid #ffba00;
        background-color: #ffba00;
        opacity: 0.2;
        position: relative;
        left: 640px;
        top: -555px;
    }
    
    #price {
        border: 0px solid;
        position: relative;
        top: -75px;
        left: -17px;
    }
    
    #menu2-p4 {
        border: 2px solid #ffffff;
        width: 935px;
        height: 155px;
        position: relative;
        left: -75px;
        top: 270px;
        font-family: f6;
        color: #ffffff;
        font-size: 23px;
    }
    
    #text-menu2 {
        position: relative;
        right: -220px;
        line-height: 2em;
        top: -20px;
    }
    
    #page5 {
        position: static;
        width: 1440px;
        height: 406px;
        color: #ffda00;
        font-size: 30px;
        font-weight: lighter;
    }
    
    .about {
        font-family: f9;
        font-weight: 100;
    }
    
    .concept {
        font-family: f7;
        font-weight: bold;
    }
    
    #title-p5 {
        position: relative;
        text-align: center;
        top: 70px;
    }
    
    .body-text-p5 {
        font-family: f6;
        font-size: large;
        color: #ffffff;
        font-weight: lighter;
    }
    
    .menu-p5>ul>li {
        display: inline-block;
    }
    
    .menu-p5>ul>li>p {
        padding: 0 15px;
    }
    
    .menu-p5 {
        color: #ffffff;
        font-size: large;
        font-family: f7;
        list-style: none;
    }
    
    #page6 {
        position: static;
        width: 1440px;
        height: 1205px;
    }
    
    #body-p6 {
        width: 1440px;
        height: 1205px;
        background-image: url(../images/page6.jpg);
    }
    
    #text-p6 {
        position: relativex;
        font-family: f3;
        left: 200px;
        top: 200px;
    }
    
    #text-title-p6 {
        position: relative;
        font-family: f3;
        font-size: 40px;
        color: #ffffff;
        left: 1000px;
        top: 100px;
    }
    
    #body-text-p6 {
        border: 1px solid rgb(255, 186, 0);
        background-color: #ffba00;
        position: relative;
        width: 535px;
        height: 625px;
        left: 800px;
        top: 150px;
    }
    
    .text-1-p6 {
        position: relative;
        font-family: f4;
        font-size: 50px;
        color: #ffffff;
        padding: 60px;
        margin: -15px;
    }
    
    .price-p6 {
        position: relative;
        color: #ffffff;
        font-family: f2;
        font-size: 45px;
        font-weight: bold;
        left: 260px;
        top: -30px;
    }
    
    .date-p6 {
        color: #ffffff;
        position: relative;
        font-family: f1;
        font-size: 45px;
        left: 230px;
        top: -60px;
    }
    
    #body2-text-p6 {
        position: relative;
        width: 470px;
        height: 125px;
        border: solid #ffba00;
        background-color: #ffba00;
        color: #ffffff;
        font-family: f3;
        font-size: 50px;
        left: 855px;
        bottom: -200px;
    }
    
    .apply {
        margin: 40px;
        padding: 10px;
    }
    
    #page7-8 {
        width: 1440px;
        height: 1260px;
    }
    
    #boder-p78 {
        border: #ffba00 solid;
        background-color: #ffba00;
        width: 250px;
        height: 1260px;
        z-index: -1;
        margin-left: 0px;
    }
    
    #page7 {
        position: relative;
        width: 1440px;
        height: 700px;
        word-spacing: 20px;
    }
    
    .img-p7 {
        position: relative;
        top: 90px;
    }
    
    .text-p7 {
        position: relative;
        font-family: f10;
        color: #ffba00;
        text-align: center;
        font-size: 40px;
        bottom: -10px;
    }
    
    #page8 {
        position: relative;
        width: 1440px;
        height: 560px;
        top: -40px;
    }
    
    .text-p8 {
        top: -40px;
        position: relative;
        font-family: f11;
        color: #ffffff;
        font-size: 35px;
        text-align: center;
    }
    
    .body-text-p8 {
        left: 350px;
        position: relative;
        font-family: f6;
        color: #ffffff;
        font-size: 20px;
        font-weight: lighter;
        line-height: 40px;
    }
    
    .name-p8 {
        position: relative;
        font-family: f7;
        color: #ffffff;
        font-size: 15px;
        left: 550px;
    }
    
    .web1-p8 {
        position: relative;
        font-family: f1;
        color: #ffffff;
        font-size: 20px;
        font-weight: lighter;
        left: 1000px;
        top: -300px;
    }
    
    .web2-p8 {
        font-weight: lighter;
        position: relative;
        font-family: f1;
        color: #ffffff;
        font-size: 20px;
        left: 1000px;
        top: -220px;
    }
    
    .web-p8 {
        font-size: 20px;
        position: relative;
        text-decoration: none;
        color: #ffba00;
        font-family: f3;
        left: 1000px;
        top: -220px;
    }
    
    .icon {
        position: relative;
        left: 1000px;
        top: 220px;
    }
    
    #page9 {
        position: static;
        width: 1440px;
        height: 325px;
    }
    
    #body-p9 {
        position: relative;
        border: 1px #483500 solid;
        background-color: #483500;
        width: 1440px;
        height: 325px;
    }
    
    .about-p9 {
        position: relative;
        font-family: f9;
        color: #ffffff;
        font-weight: lighter;
        font-size: 25px;
        left: 150px;
        top: 50px;
    }
    
    .body-text9 {
        position: relative;
        font-family: f1;
        color: #ffffff;
        font-weight: lighter;
        font-size: 20px;
        left: 150px;
        top: 50px;
    }
    
    .menu-p9 {
        position: relative;
        font-family: f9;
        color: #ffffff;
        font-weight: lighter;
        font-size: 25px;
        top: -150px;
        left: 750px;
    }
    
    .team1-p9 {
        position: relative;
        font-family: f1;
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        top: -150px;
        left: 750px;
    }
    
    .menu2-p9 {
        position: relative;
        font-family: f1;
        color: #ffffff;
        font-weight: lighter;
        font-size: 20px;
        left: 750px;
        top: -175px;
        word-spacing: 2px;
    }
    
    .shef {
        position: relative;
        font-family: f9;
        color: #ffffff;
        font-size: 25px;
        font-weight: lighter;
        left: 1000px;
        top: -400px;
    }
    
    .menu3-p9 {
        position: relative;
        font-family: f1;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        left: 1000px;
        top: -400px;
        word-spacing: 2px;
    }
    
    .contact {
        position: relative;
        font-family: f9;
        font-size: 25px;
        color: #ffffff;
        font-weight: lighter;
        left: 1250px;
        top: -625px;
    }
    
    .menu4-p9 {
        position: relative;
        font-family: f1;
        font-size: 20px;
        font-weight: lighter;
        color: #ffffff;
        left: 1250px;
        top: -580px;
    }