<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web form fcode</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../font/Montserrat-ExtraBold.ttf">
    <link rel="stylesheet" href="../font/Montserrat-Regular.ttf">
    <link rel="stylesheet" href="../font/Lato-Regular.ttf">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font/Lato-Black.ttf">
</head>

<body id="page">
    <header class="page1">
        <img class="img1" src="../images/page1.jpg">
        <div>
            <nav class="text">
                <a href="#">Menu</a> <a href="#">Blog</a> <a href="#">About us</a> <a href="#">Contacts</a>
            </nav>
            <div id="title1">
                <h3 id="pizza">#pizzeria.</h3>
            </div>

            <header class="box-1">
                <p id="textBody"><strong class="Grand">GRAND</strong> <br> OPPENNING </p>
                <div id="newbody">
                    <p id="readmore">READ MORE</p>
                </div>
            </header>
    </header>


    <div id="page2">
        <img id="img1" src="../images/page2.jpg" width="621px" height="444px">

        <div id="boder-page2">
            <h3 class="whatnew"> What new?</h3>
            <h4 class="body-text2">| Sed do eiusmod tempor incididunt ut <br> Labore et <br> <br> | Dolore magna aliqua <br><br> | Quis ipsum suspendisse ultrices gravida
            </h4>
            <h3 class="newformat">
                new format
            </h3>

        </div>
    </div>


    <div id="page3">
        <div id="boder-page3">
            <ul>
                <li>
                    <p>
                        <h3 id="format-1">| new format</h3>
                        <h4 id="format-2">Lorem ipsum dolor sit amet, consecte <br> sectetur adipisicing elit, tation omme <br> ullamco laboris nisi ut aliqolore.</h4>
                    </p>
                </li>
                <li>
                    <p>
                        <h3 id="format-1">|| master classes</h3>
                        <h4 id="format-2">Lorem ipsum dolor sit amet, consecte <br> sectetur adipisicing elit, tation omme <br> ullamco laboris nisi ut aliqolore.</h4>
                    </p>
                </li>
                <li>
                    <p>
                        <h3 id="format-1">||| pizza restaurant</h3>
                        <h4 id="format-2">Lorem ipsum dolor sit amet, consecte <br> sectetur adipisicing elit, tation omme <br> ullamco laboris nisi ut aliqolore.</h4>
                    </p>
                </li>
            </ul>

        </div>



    </div>


    <div id="page4">
        <div id="boder-page4">
        </div>
        <h3 class="title-p4">#pizzeria.</h3>
        <div id="boder-title">
            <h2 id="title-boder-p4">OUR NEW MENU</h2>
            <div id="menu-page4">
                <p>
                    <h3>| EIUSOMOD SED DO </h3>
                    <h4>(tempor, incididunt, utas, labore, etws)</h4>
                    <br>

                    <h3>|| DO DOLORE</h3>
                    <h4>(magna, aliqua, lorem) </h4>
                    <br>

                    <h3>||| EIUSOMOD SED DO </h3>
                    <h4>(tempor, incididunt, utas, labore, etws)</h4>
                    <br>

                    <h3>|| DO Dolore</h3>
                    <h4>(magna, aliqua, lorem) </h4>
                </p>
                <div id="in-menu-p4">
                    <p id="price">
                        10$ <br> 14$ <br> 20$ <br> 10$
                    </p>
                </div>
                <div id="out-menu-p4">
                </div>

            </div>
            <div id="menu2-p4">
                <p id="text-menu2"> ||| _ top in menu <br>|| _ sale iteam <br>| _ made by shef </p>
            </div>
        </div>
    </div>

    <div id="page5">
        <div id="title-p5">
            <h2 class="about">ABOUT OUR
                <strong class="concept "> CONCEPT</strong> </h2>

            <h4 class="body-text-p5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </h4>
            <nav class="menu-p5">
                <ul>
                    <li>
                        <p>Pizza</p>
                    </li>
                    <li>
                        <p>Modem concept</p>
                    </li>
                    <li>
                        <p>Story from shelf </p>
                    </li>
                    <li>
                        <p>Gallery</p>
                    </li>
                </ul>
            </nav>

        </div>


    </div>





    <div id="page6 ">
        <div id="body-p6">
            <h3 id="text-title-p6">MASSTERCLASS</h3>
            <div id="body-text-p6">
                <p class="text-1-p6">
                    | THE RECIPE FOR <br> | THE MOST <br> DELECIOUS PIZZA <br> DOUGH | <br><br>waiting for you
                </p>
                <p class="price-p6">
                    PRICE_15$
                </p>
                <p class="date-p6">
                    12:00-15:00
                </p>

            </div>
            <div id="body2-text-p6">
                <p class="apply">APPLY</p>
            </div>
        </div>

    </div>
    </div>
    <div>
        <div id="page7-8 ">

            <div id="boder-p78">
                <div id="page7">
                    <p class="text-p7">GALLERY</p>
                    <div class="img-p7">
                        <img src="../images/page7,3.jpg" width="50%">
                        <img src="../images/page7,2.jpg" width="22%">
                        <img src="../images/page7,1.jpg" width="24%" height="480px">
                    </div>
                </div>

                <div id="page8">
                    <p>
                        <p class="icon">
                            <img src="../images/iconIG.png" width="3%">
                            <img src="../images/iconFB.png" width="3%">
                            <img src="../images/iconTW.png" width="3%">
                            <img src="../images/iconWS.png" width="3%">
                        </p>
                        <h3 class="text-p8">
                            #pizzeria.
                        </h3>
                        <h4 class="body-text-p8">
                            Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit, sed <br>do eiusmod tempor incididunt <br>ut labore et dolore magna <br> aliqua. Ut enim ad minim <br> veniam, quis
                        </h4>
                        <h4 class="name-p8"> Name Name</h4>
                        <h4 class="web1-p8">
                            | find us here
                        </h4>
                        <h4 class="web2-p8">
                            | ask as here
                        </h4>
                        <a class="web-p8" href="#">www.#pizzeria.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>







    <footer id="page9 ">
        <div id="body-p9">
            <p id="about-body-p9">
                <h3 class="about-p9">ABOUT</h3> <br>
                <h4 class="body-text9">Lorem ipsum dolor sit amet, consec <br>tetur adipisicing elit, sed do eiusmod tempor <br> incididunt ultimam quantum</h4>
            </p>
            <p id="menu-9">
                <h3 class="menu-p9"> MENU </h3> <br>
                <h4 class="team1-p9">Team</h4>
                <h4 class="menu2-p9">Join us <br> Ethic <br> Goals</h4>
            </p>
            <p id="shef-9">
                <h3 class="shef">SHEF</h3> <br>
                <h4 class="menu3-p9"> Team <br> Join us <br> Ethic <br> Goals</h4>
            </p>
            <p id="contact-9">
                <h3 class="contact">CONTACT</h3>
                <h4 class="menu4-p9">Team <br> Join us <br> Ethic <br>Goals</h4>
            </p>
        </div>
    </footer>

</body>

</html>